@page "/chuyennganh/themmoichuyennganhhep/{idChuyenNganh}"
@using QLDSVFPOLY.BUS.ViewModels.ChuyenNganh
@using QLDSVFPOLY.BUS.ViewModels.DaoTao
@using QLDSVFPOLY.Blazor.Repository.Interfaces
@using QLDSVFPOLY.Blazor.Components;
@inject IToastService toastService;
@inject IJSRuntime JS
@inject ISessionStorageService _SStorage
@inject IChuyenNganhRepo ChuyenNganhRepo

<style>
	#dd {
		border: 2px black;
		width: 400px;
		height: 300px;
		margin-left: 50px;
	}
</style>

@if (chuyenNganh == null)
{
	<LoadingIndicator></LoadingIndicator>
}
else
{
	<MudForm class="m-4">
		<div style="float:left" class="w-25">
			<MudText Typo="Typo.h6">Thêm chuyên ngành hẹp</MudText>
			<MudSpacer></MudSpacer>
			<MudImage Src="@imgUrl" Elevation="25" Class="rounded-lg w-100" Style="background-color: black;" Fluid="true" />
			<InputFile OnChange="@OnInputFileChanged"></InputFile>
		</div>

		<div style="float:right" class="w-75">
			<div class="row pl-5">
				<div class="col">
					<MudTextField Label="Mã" Variant="Variant.Outlined" T="string" @bind-Value="@chuyenNganh.Ma" For="() => chuyenNganh.Ma"/>

					<MudTextField Label="Tên" Variant="Variant.Outlined" T="string" Class="py-1" @bind-Value="@chuyenNganh.TenChuyenNganh" For="() => chuyenNganh.TenChuyenNganh"/>

					<MudSelect T="int" Label="Trạng thái" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Class="py-1" @bind-Value="@chuyenNganh.TrangThai"For="() => chuyenNganh.TrangThai">
						<MudSelectItem T="int" Value="1">Hoạt động</MudSelectItem>
						<MudSelectItem T="int" Value="2">Tạm dừng hoạt động</MudSelectItem>
					</MudSelect>
					<div style="float:right;" class="pt-1">
						<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(()=>Clear())">Làm mới</MudButton>
						<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(()=>ShowConfirmThem(chuyenNganh))">Thêm</MudButton>
					</div>

				</div>
			</div>
		</div>
	</MudForm>

	<Confirmation ConfirmationMessage="Bạn có muốn thêm chuyên ngành không?" ConfirmationTitle="Thông báo" @ref="_confirmThem" ConfirmationChanged="()=>ThemChuyenNganhHep(ConfirmchuyenNganhThem)"></Confirmation>

}

@code {
	[Parameter]
	public string idChuyenNganh { set; get; }

	string idDaoTao;

	//Inject Repo cua ChuyenNganh
	[Inject] private IChuyenNganhRepo ChuyenNganhRepos { set; get; }

	//Khai bao ra listChuyenNganh
	private List<ChuyenNganhVM> listChuyenNganhs;

	private ChuyenNganhSearchVM searchVM = new ChuyenNganhSearchVM();

	private ChuyenNganhCreateVM chuyenNganh = new ChuyenNganhCreateVM();

	[Inject] private NavigationManager navigationManager { get; set; }



	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	private async Task LoadData()
	{
		imgUrl = defImg.LogoFPL();
		module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/fileSize.js");
		idDaoTao = await _SStorage.GetItemAsync<string>("IdDaoTao");
		listChuyenNganhs = await ChuyenNganhRepos.GetAllActiveAsync(searchVM);
		listChuyenNganhs = listChuyenNganhs.Where(c => c.IdDaoTao == Guid.Parse(idDaoTao)).ToList();
	}


	private async Task<bool> ThemChuyenNganhHep(ChuyenNganhCreateVM chuyenNganh)
	{
		var chuyenNganhLon = await ChuyenNganhRepos.GetByIdAsync(Guid.Parse(idChuyenNganh));
		chuyenNganh.IdDaoTao = chuyenNganhLon.IdDaoTao;
		//chuyenNganh.Ma = chuyenNganhLon.Ma;
		chuyenNganh.DuongDanAnh = imgUrl;
		chuyenNganh.IdChuyenNganh = Guid.Parse(idChuyenNganh);

		bool x = await ChuyenNganhRepos.CreateAsync(chuyenNganh);
		if (x)
		{
			navigationManager.NavigateTo($"/chuyennganh/hienthi");
			toastService.ShowSuccess($"Thêm thành công");
			await LoadData();
			await Clear();
		}
		else
		{
			toastService.ShowError($"Thêm thất bại");
		}
		return false;
	}

	//Confirm
	protected Confirmation _confirmThem { set; get; }
	private ChuyenNganhCreateVM ConfirmchuyenNganhThem { set; get; }

	private async Task ShowConfirmThem(ChuyenNganhCreateVM chuyenNganh)
	{
		ConfirmchuyenNganhThem = chuyenNganh;
		_confirmThem.show();
	}

	private async Task Clear()
	{
		chuyenNganh.Ma = "";
		chuyenNganh.TenChuyenNganh = "";
		chuyenNganh.TrangThai = 0;
	}

	DefaultImages defImg = new DefaultImages();
	string imgUrl;
	IJSObjectReference module;
	record ImageDimensions(int Width, int Height);
	private async Task OnInputFileChanged(InputFileChangeEventArgs e)
	{
		var file = e.File;
		var streamRef = new DotNetStreamReference(file.OpenReadStream(file.Size));
		var json = await module.InvokeAsync<string>("getImageDimensions", streamRef);
		var dimensions = JsonSerializer.Deserialize<ImageDimensions>(json);
		if (dimensions.Width > 250)
		{
			file = await file.RequestImageFileAsync(file.ContentType, 250, int.MaxValue);
		}
		var buffers = new byte[file.Size];
		await file.OpenReadStream().ReadAsync(buffers);
		string imageType = file.ContentType;
		imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";
	}
}
