@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject ISessionStorageService _SStorage

<CascadingValue Value="this">
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@*<BlazoredToasts />*@
<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" IconType="IconType.FontAwesome" ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info" SuccessIcon="fa fa-check" WarningIcon="fa fa-exclamation" />


<MudLayout>
    <MudAppBar>

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudDivider Vertical="true" Class="mx-3 h-75" DividerType="DividerType.Middle"></MudDivider>
        <div>
            <MudText Typo="Typo.body2" Style="font-size: 1.5vh;">Chương trình</MudText>
            <MudText Typo="Typo.h6" Style="font-size: 2.2vh;">Quản lý điểm sinh viên</MudText>
        </div>
        <MudSpacer></MudSpacer>
        <div>
            <MudText Typo="Typo.h6" Style="text-align: left; font-size: 2.2vh;">Xin chào: @Title</MudText>
            <MudText Typo="Typo.body2" Style="text-align: left; font-size: 1.5vh;">Chức vụ: @Role</MudText>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">

        <QLDSVNav />

    </MudDrawer>
    <MudMainContent>
        
        <div class="p-3">
            @Body
        </div>
    </MudMainContent>

</MudLayout>
</CascadingValue>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private string title;

    public string Title
    {
        get => title;
        set
        {
            title = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private string role;

    public string Role
    {
        get => role;
        set
        {
            role = value;
            InvokeAsync(() => StateHasChanged());
        }
    }
}