@page "/monhoc/{hanhdong}/{idMonHoc?}"
@layout QLDSVLayout

@using QLDSVFPOLY.Blazor.Repository.Interfaces
@using QLDSVFPOLY.BUS.ViewModels.MonHoc
@using QLDSVFPOLY.BUS.ViewModels.ChuyenNganh
@using QLDSVFPOLY.BUS.ViewModels.ChuyenNganhMonHoc
@using QLDSVFPOLY.BUS.ViewModels.DiemSo
@using QLDSVFPOLY.Blazor.Components
@using System.Text
@using System.Text.Json

@inject IMonHocRepo _repoMonHoc
@inject IChuyenNganhRepo _repoChuyenNganh
@inject IChuyenNganhMonHocRepos _repoChuyenNganhMonHoc
@inject IMonHocRepo _repoMonHoc
@inject IDiemSoRepos _repoDiemSo
@inject IJSRuntime JS
@inject ISessionStorageService _SStorage
@inject IToastService _iToast

@if (ListChuyenNganhVMActive == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <MudForm class="m-4">
        <div style="float:left" class="w-25">
            @if(imgUrl != null) {
                <MudImage Src="@imgUrl" Elevation="25" Class="rounded-lg w-100" Style="background-color: black;" />
            }
            else {
                <LoadingIndicator></LoadingIndicator>
            }
            
            <InputFile OnChange="@OnInputFileChanged"></InputFile>

        </div>

        <div style="float:left" class="w-75">
            <div class="row pl-5">
                <div class="col">
                    <MudTextField Label="Mã" Variant="Variant.Outlined" T="string" @bind-Value="@MaInput" />

                    <MudTextField Label="Tên" Variant="Variant.Outlined" T="string" Class="py-1" @bind-Value="@TenInput" />

                    <MudSelect T="int" Label="Trạng thái" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Class="py-1" @bind-Value="@TrangThaiInput">
                        <MudSelectItem T="int" Value="1">Hoạt động</MudSelectItem>
                        <MudSelectItem T="int" Value="0">Không hoạt động</MudSelectItem>
                    </MudSelect>

                    <MudSelect T="string" @bind-SelectedValues="ListStringMaChuyenNganh" MultiSelection="true" Label="Chuyên ngành" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Class="py-1">
                        @foreach (var item in ListChuyenNganhVMActive)
                        {
                            <MudSelectItem T="string" Value="@item.Ma">@item.TenChuyenNganh</MudSelectItem>
                        }
                    </MudSelect>

                    <div style="float:right;" class="pt-1">
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" hidden="@(hanhdong != "chinhsua" ? true : false)">Lưu</MudButton>
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" hidden="@(hanhdong != "them" ? true : false)" OnClick="ThemMonHoc">Thêm</MudButton>
                    </div>

                </div>
            </div>
        </div>
    </MudForm>
    <div style="clear:both;"></div>
    @if (idMonHoc != null)
    {
        <div class="m-4">
            <div class="row mt-3">
                <div class="col">
                    <MudTextField T="string" Label="Tên đầu điểm" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="col">
                    <MudNumericField Label="Trọng số" Variant="Variant.Outlined" Step="10" Min="0" Max="100" @bind-Value="@TrongSoInput" />
                </div>
                <div class="d-flex justify-center align-center" FullWidth="true" style="width: 16%">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary" @onclick="@ThemDauDiem">Thêm đầu điểm</MudButton>
                </div>
            </div>

            <MudTable Items="@listDiemSo">
                <HeaderContent>
                    <MudTh>STT</MudTh>
                    <MudTh>Tên đầu điểm</MudTh>
                    <MudTh>Trọng số</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@(stt++)</MudTd>
                        <MudTd>@context.TenDauDiem</MudTd>
                        <MudTd>@context.TrongSo</MudTd>
                    </RowTemplate>
                </MudTable>
            </div>

    }

}


@code {
    [Parameter]
    public string hanhdong { get; set; }
    [Parameter]
    public string? idMonHoc { get; set; }

    [CascadingParameter]
    public QLDSVLayout _Layout { get; set; }

    DefaultImages _dfImages = new DefaultImages();

    IList<IBrowserFile> _imgList = new List<IBrowserFile>();

    private List<ChuyenNganhVM> ListChuyenNganhVMActive;
    private List<ChuyenNganhMonHocVM> ListCNMHVM;
    private List<MonHocVM> ListMonHoc;
    private List<DiemSoVM> listDiemSo;

    private string? MaInput;
    private string? TenInput;
    private double TrongSoInput;
    private int TrangThaiInput;
    private IEnumerable<string> ListStringMaChuyenNganh = new HashSet<string>();






    private int stt = 1;
    IJSObjectReference module;
    record ImageDimensions(int Width, int Height);
    #region imgurl
    private string imgUrl;
    #endregion 
    private async Task OnInputFileChanged(InputFileChangeEventArgs e) 
    {
        var file = e.File;
        var streamRef = new DotNetStreamReference(file.OpenReadStream(file.Size));
        var json = await module.InvokeAsync<string>("getImageDimensions", streamRef);
        var dimensions = JsonSerializer.Deserialize<ImageDimensions>(json);
        if (dimensions.Width > 250)
        {
            file = await file.RequestImageFileAsync(file.ContentType, 250, int.MaxValue);
        }
        var buffers = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffers);
        string imageType = file.ContentType;
        imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";
    }


    protected override async Task OnInitializedAsync()
    {
        imgUrl = _dfImages.LogoFPL();
        _Layout.Title = await _SStorage.GetItemAsync<string>("TenHienThi");
        _Layout.Role = await _SStorage.GetItemAsync<string>("ChucVu");
        await LoadDataOnGUI();
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/fileSize.js");
        await LoadListsAsync();
    }

    private async Task LoadListsAsync()
    {
        ListChuyenNganhVMActive = await _repoChuyenNganh.GetAllActiveAsync(new ChuyenNganhSearchVM());

        ListCNMHVM = await _repoChuyenNganhMonHoc.GetAllAsync(new ChuyenNganhMonHocSearchVM());
        ListMonHoc = await _repoMonHoc.GetAllAsync(new MonHocSearchVM());
        listDiemSo = await _repoDiemSo.GetAllActiveAsync(new DiemSoSearchVM());
        if (idMonHoc != null)
        {
            listDiemSo = listDiemSo.Where(c => c.IdMonHoc == Guid.Parse(idMonHoc)).ToList();
        }

    }


    private async Task ThemMonHoc()
    {
        bool task1Result = await _repoMonHoc.CreateAsync(new MonHocCreateVM()
            {
                Ma = MaInput,
                Ten = TenInput,
                TrangThai = TrangThaiInput,
                DuongDanAnh = imgUrl
            });
        //Thêm thành công ms tiến hành
        if (task1Result)
        {
            _iToast.ShowSuccess("Thêm thành công", "Thông báo");
            await LoadListsAsync();
            var lastResult = ListMonHoc.FirstOrDefault(c => c.Ma == MaInput);

            Guid idTask1 = lastResult.Id;

            var listIdChuyenNganh = ConvertMaToIdCN();

            foreach (var item in listIdChuyenNganh)
            {
                await _repoChuyenNganhMonHoc.CreateAsync(new ChuyenNganhMonHocCreateVM()
                    {
                        IdChuyenNganh = item,
                        IdMonHoc = idTask1,
                        TrangThai = 1
                    });
            }


        }
        else {
            _iToast.ShowError("Thêm thất bại", "Thông báo");
        }
        await LoadListsAsync();
    }

    private void ThemDauDiem()
    {
        _repoDiemSo.CreateAsync(new DiemSoCreateVM()
            {
                IdMonHoc = Guid.Parse(idMonHoc),
                TenDauDiem = TenInput,
                TrongSo = TrongSoInput,
                TrangThai = 1
            });
    }


    private async Task LoadDataOnGUI()
    {
        if(!String.IsNullOrEmpty(idMonHoc)) {
            var re = await _repoMonHoc.GetByIdAsync(Guid.Parse(idMonHoc));
            MaInput = re.Ma;
            TenInput = re.Ten;
            TrangThaiInput = re.TrangThai;
            imgUrl = re.DuongDanAnh;
        }
        
    }

    private async Task SuaMonHoc()
    {
        bool task1Result = await _repoMonHoc.UpdateAsync(Guid.Parse(idMonHoc), new MonHocUpdateVM()
            {
                Ma = MaInput,
                Ten = TenInput,
                TrangThai = TrangThaiInput,
                DuongDanAnh = imgUrl
            });
        if (task1Result)
        {
            await LoadListsAsync();
            var lastResult = ListMonHoc.FirstOrDefault(c => c.Id == Guid.Parse(idMonHoc));

            var listIdChuyenNganh = ConvertMaToIdCN();

            foreach (var item in ListCNMHVM)
            {
                if (item.IdMonHoc == Guid.Parse(idMonHoc) && listIdChuyenNganh.Any(c => c == item.IdChuyenNganh) == true)
                {
                    await _repoChuyenNganhMonHoc.RemoveAsync(item.IdChuyenNganh, item.IdMonHoc);
                }

            }
            foreach (var item in listIdChuyenNganh)
            {
                await _repoChuyenNganhMonHoc.CreateAsync(new ChuyenNganhMonHocCreateVM()
                    {
                        IdChuyenNganh = item,
                        IdMonHoc = Guid.Parse(idMonHoc),
                        TrangThai = 1
                    });
            }
        }
        await LoadListsAsync();

    }

    private Guid GetIdByMa(string iMa)
    {
        LoadListsAsync();
        return ListMonHoc.FirstOrDefault(c => c.Ma == iMa).Id;
    }

    private List<Guid> ConvertMaToIdCN()
    {
        var listString = ListStringMaChuyenNganh.ToList();
        List<Guid> listIdChuyenNganh = new List<Guid>();
        foreach (var i in listString)
        {
            listIdChuyenNganh.Add(ListChuyenNganhVMActive.FirstOrDefault(c => c.Ma == i).Id);
        }
        return listIdChuyenNganh;
    }
}